<% const nama = "Agus DM" %>
<h1>Mahasiswa <%= nama %></h1>
<% mhs.forEach(el => { %>
<ul>
  <li>Nama : <%= el.nama %></li>
  <li>NIM : <%= el.nim %></li>
  <li>Jurusan : <%= el.jurusan %></li>
</ul>
<% }) %>
